[Unit]
Description=IM isolated HTTPS ingress
After=network.target
[Service]
Type=forking
PIDFile=/run/im-nginx.pid
ExecStartPre=/www/server/nginx/sbin/nginx -t -c /www/wwwroot/github/im/deploy/nginx.conf
ExecStart=/www/server/nginx/sbin/nginx -c /www/wwwroot/github/im/deploy/nginx.conf
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID
Restart=on-failure
[Install]
WantedBy=multi-user.target
